@import 'variables';
@import 'root';
$active: #ffa32f;
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.qhht-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: transparent center no-repeat;
  background-size: 100%;
}
.qhht-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qhht-fullWidth {
  display: block;
  width: 100%;
}
.qhht-clearFloat {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.qhht-blockButton {
  display: block;
  height: 80px;
  border-radius: 80px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  background-color: $active;
  color: #fff;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/**toast公共样式*/
  .van-icon-success {
    background-image: url('../src/assets/audio_love_collect.png');
    background-size: 28px;
    background-repeat: no-repeat;
    margin: 1px auto 12px;
    height: 28px;
    width: 28px;
  }
  .van-icon-success::before {
    content: none;
  }
  .van-toast--text {
    max-width: 80%;
    white-space: nowrap;
    min-width: inherit;
  }
  
  .van-icon-fail::before {
    content: none;
  }
  .van-toast--default .van-toast__text {
    padding-top: 0;
  }
  .van-toast--default {
    min-height: 0;
    width: auto;
    white-space: nowrap;
  }
  
  .van-icon-fail{
    background-image: url('../src/assets/audio_play_tip.png');
    background-size: 28px;
    background-repeat: no-repeat;
    margin: 1px auto 12px;
    height: 28px;
    width: 28px;
  }
.van-list__loading{
  width: 100vw;
}