@import 'variables';
@import 'root';

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.qhht-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: transparent center no-repeat;
  background-size: 100%;
}
.qhht-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qhht-fullWidth{
  display: block;
  width: 100%;
}
.qhht-clearFloat{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

