//@import "variables";
//@import "root";
body{
  font-size: .16rem;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
.icon{
  display: inline-block;
  width: 42px;
  height: 42px;
  background: transparent center no-repeat;
  background-size: 100%;
  padding-top: 14px;
}
